package templates

import "beer_oclock/internal/db"

templ Home(contacts []db.Contact) {
	<section>
		<h1 class="text-3xl font-bold text-white text-center">Beer O'clock</h1>
		@AddContactForm(db.Contact{}, nil)
		@Contacts(contacts)
	</section>
}
